body {
    background-color: rgb(238, 232, 232);
}

.i {
    margin-right: 5px;
}

.img{
    border-radius: 50%;
    max-width: 300px;
    max-height: auto;
}

.h1{
    color: rgb(247, 0, 255);
}

.navbar-nav .nav-item:hover {
    background-color: rgba(231, 226, 226, 0.1);
  }

.navbar-nav .nav-item:hover .nav-link {
    color: #ffffff;
  }

.navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
  }

  .dropdown:hover{
    display: block;
  }

#desc {
    text-align: center;
}

#desc2 {
    text-align: center;
    color: rgb(3, 126, 3);
}

#desc3 {
    text-align: center;
    margin-top: 20px;

}

#element{
    color: blue;
    font-size: x-large;
}

#login {
    margin-right: 10px;
}


#sign {
    color: rgb(6, 138, 57);
    margin-left: 40px;
}

#topoffers {
    width: 64px;
    height: 64px;
    text-align: center;
}

#zone1 {
    max-width: 100%;
    height: auto;
}

#social{
    padding: 10px;
}

#zone2 {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}
.card-img-top {
    height: 250px;
  }
  .card-img-top2 {
    width: 100%;
    height: auto; 
  }


  .footer{
	background-color: #24262b;
    padding: 30px 0;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    display: inline;
}

.footer-links li:not(:last-child) {
    margin-right: 10px; 
}

.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width:100px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    font-weight: 300;
    text-decoration: none;
    color: #bbbbbb;
    transition: all 0.3s ease;

}

.footer-col ul li a:hover{
	color: #ffffff;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

.col{
	max-width: 100%; 
	height: auto;
	padding: 10px;
	display: flex; 
	flex-direction: column;
	align-items: center;
	text-align: center;
}

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

